$darkCyan: hsl(185, 75%, 39%);
$darkBlue: hsl(229, 23%, 23%);
$grayishBlue: hsl(227, 10%, 46%);
$darkGrey: hsl(0, 0%, 59%);


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}