@import "./global";
@import "./variables";

body {
  background: $darkCyan;
  width: 100%;
  height: 100%;
  overflow: hidden;

  #bg-pattern1 {
    position: absolute;
    bottom: 50%;
    right: 40%;
    z-index: 0;
  }

  #bg-pattern2 {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 0;
  }
}

.card-panel {
  @include flexCenter;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translate(-50%, 30%);
  background: white;
  width: 20.5625rem;
  height: 26.1875rem;
  border-radius: 1rem;
  overflow: hidden;

  #bg-pattern-card {
    position: absolute;
    width: 100%;
    top: 0;
  }

  #victor {
    position: absolute;
    top: 20%;
    background: white !important;
    border: 6px solid white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
  }

  .description {
    @include flexCenter;
    position: relative;
    top: 20%;
    flex-direction: column;

    .biograph {
      @include flexCenter;
      flex-direction: row;
      width: 100%;

      h3 {
        font-size: 18px;
        color: $darkBlue;
        margin-right: 0.5rem;
        font-weight: 700;
      }

      p {
        margin-top: 0.1rem;
        color: $grayishBlue;
        font-weight: 400;
      }
    }

    p {
      color: $grayishBlue;
      font-weight: 400;
      margin-top: 0.75rem;
    }
  }

  .social-media {
    @include flexCenter;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    top: 30%;
    border-top: 1px solid $darkGrey;
    padding-top: 1.5rem;
    width: 100%;

    .follower {
      @include flexCenter;
      flex-direction: column;
    }

    .likes {
      @include flexCenter;
      flex-direction: column;
    }

    .photos {
      @include flexCenter;
      flex-direction: column;
    }

    h2 {
      font-size: 18px;
      color: $darkBlue;
      font-weight: 700;
    }

    p {
      color: $grayishBlue;
      margin-top: 1rem;
      font-weight: 400;
      font-size: 14px;
    }
  }
}
